@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.openSans {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
